name: Building
on: [push, pull_request]

jobs:
  test:
    name: Building AKSideMenu Example
    runs-on: macOS-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Xcode version
        uses: maxim-lobanov/setup-xcode@v1.1
        with:
          xcode-version: 12.0.0
      - name: Install Dependencies for Simple Example
        run: |
          pod install --project-directory=AKSideMenuExamples/Simple
        shell: bash
      - name: Install Dependencies for Storyboard Example
        run: |
          pod install --project-directory=AKSideMenuExamples/Storyboard
        shell: bash        
      - name: Building iOS Simple app
        run: exec ./.github/scripts/build_app.sh simple
      - name: Building iOS Storyboard app
        run: exec ./.github/scripts/build_app.sh storyboard        
